@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root elements */
* {
  margin: 0;
  padding: 0;
  /* font-family: "Beth Ellen", cursive; */
  font-family: poppins;
}

:root {
  --primary-color: #4eac0f;
  --secondary-color: #242423;
  --white: #fff;
}
.container {
  width: 80%;
  margin: auto;
}

/* Hero styles */
.hero-navlink li {
  list-style: none;
  font-size: small;
}
.hero-navlink a {
  text-decoration: none;
  color: var(--secondary-color);
}
.hero-navlink a:hover {
  color: var(--primary-color);
}

/* Mobile Responsive */

/* Product Comparison Style */

.card {
  background-color: var(--primary-color);
  /* color: var(--white); */
}

@media (max-width: 480px) {
  nav {
    gap: 1rem;
    padding: 1rem 0.4rem;
  }
  .nav-features {
    display: none;
  }
  button {
    padding: 0.2rem;
    border: 1px transparent;
  }
  .online-btn {
    border: 1px solid var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);
    font-size: small;
    /* transition: all 0.2s ease-in; */
  }
  .menu-btn {
    font-size: small;
    display: flex;
    padding: 0.8rem 0.2rem;
  }
  .nav-bar h1 {
    font-size: medium;
  }
}
